<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isolate.egovdhn.in">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeIsolation"
        android:usesCleartextTraffic="true"
        android:name=".Retrofit.RetrofitClient"
        tools:targetApi="n">

        <activity
            android:name=".UI.PhotoUploadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.SRF_VerifyActivity" /> <!-- Location Tracking Service -->

        <!--Location Updates-->
        <service
            android:name=".Utilities.LocationService"
            android:enabled="true"
            android:exported="false" />

        <!-- FCM Service to Collect Refreshed Token -->
        <service android:name=".Utilities.FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- FCM Service to Collect Notification Messages -->
        <service android:name=".Utilities.FCM.NotificationMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UI.PrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.SplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.TelemedicineActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.GuidelinesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.SignUp.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ContactActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.isolate.egovdhn.in.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>